/*  --------------------------------------------------------------
THEME COMMONS
-------------------------------------------------------------- */

.no-margin { margin: 0; }

.no-margint { margin-top: 0; }

.no-marginb { margin-bottom: 0; }

.margint5 { margin-top: (@5); }

.margint10 { margin-top: (@10); }

.margint15 { margin-top: (@15); }

.margint20 { margin-top: (@20); }

.margint25 { margin-top: (@25); }

.margint30 { margin-top: (@30); }

.marginb5 { margin-bottom: (@5); }

.marginb10 { margin-bottom: (@10); }

.marginb15 { margin-bottom: (@15); }

.marginb20 { margin-bottom: (@20); }

.marginb25 { margin-bottom: (@25); }

.marginb30 { margin-bottom: (@30); }

.no-padding { padding: 0; }

.no-paddingt { padding-top: 0; }

.no-paddingb { padding-bottom: 0; }

.no-paddingl { padding-left: 0; }

.no-paddingr { padding-right: 0; }

.paddingt5 { padding-top: (@5); }

.paddingt10 { padding-top: (@10); }

.paddingt15 { padding-top: (@15); }

.paddingt20 { padding-top: (@20); }

.paddingt25 { padding-top: (@25); }

.paddingt30 { padding-top: (@30); }

.paddingb5 { padding-bottom: (@5); }

.paddingb10 { padding-bottom: (@10); }

.paddingb15 { padding-bottom: (@15); }

.paddingb20 { padding-bottom: (@20); }

.paddingb25 { padding-bottom: (@25); }

.paddingb30 { padding-bottom: (@30); }

.marginr30 { margin-right: @30; }

.margint40 { margin-top: @30 + @10; }